body {
	position: relative;
}

#ordered-list {
	background-color: #F9DBBD;
}

ol > li {
	color: #9A348E;
}

.special-item {
	color: #FCA17D;
	font-size: 18px;
	border: 1px dashed #BEBEBE;
	line-height: 25px;
}

#notifier {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 100px;
	padding: 20px;
	border: 1px solid #333333;
	border-radius: 20px;
	background-color: #F9DBBD;
}

.hide {
	display: none;
}
