<html>
    <head>
        <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
        <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
        <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
        <script src="http://backbonejs.org/backbone.js"></script>

        <link rel="stylesheet" type="text/css" href="styleApp.css">
    </head>

    <body>
      <div class="first-cont">
        <div id="logo-top">
          <img src="../core/assets/logo-top.png" alt="logo-icon">
        </div>

        <div id="text-areas">
          <input  type="text" name="search" placeholder="Search Music" size="80" required>
        </div>

        <div class="button-signin">
          <a href="login.html">
            <input type="button" value="Sign in" />
          </a>
        </div>

        <div id="span-id">
          <p><span>Ready to listen to endless music on your favorite device?</span></p>
        </div>

        <div class="button-join" >
          <a href="register.html">
            <input type="button" value="JOIN NOW" />
          </a>

          <p id="quote">Loading quote...</p>
        </div>
      </div>

      <div id="page"></div>


      <script type="text/template" id="template-playlists-list-view">
  		      <div class="music-container">
  		      </div>
	    </script>

      <script type="text/template" id="template-playlist-table-view">
  		      <div class="albums-text">
                <div class="small-imgs-playlist">
                  <img  class="img-playlist" src="<%= imgBig %>"/>
                </div>

                <p class="title"><%= title %></p>
                <p class="description"><%= description %></p>

                <div id="button-album1" class="button-albums-style"
                    <a>
                       <input type="button" value="     Explore playlist" />
                    </a>
                </div>

  		      </div>
	    </script>

      <script type="text/template" id="template-SongsListView">
  		      <ul class="songs list view">
  		      </ul>
	    </script>

    	<script type="text/template" id="template-SongInListView">
        		<li class="song in-list view">
        			<span class="songs"><%= songTitle +", " + songAuthor + ", " + songLength + ", " + songListened + ", " + img %></span>
        		</li>
    	</script>

      <script src="../build/bundle.js"></script>
    </body>
</html>
