body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}

#container-small{
  border-radius: 8px ;
  margin: 200px auto;
  width: 350px;
  height: 400px;
  background-color: #FFFFFF;

}

h3{
  text-align: center;
}

p{
  text-align: center;
  color: #939393;
}

a:link, a:visited { color: #0099ff; text-decoration: none}

#text-areas{
  position: relative;
  top: 10px;
  left: 45px;
}

#text-button{
  position: relative;
  top: 1px;
  left: 55px;
}

input{
    background-color : #f2f2f2;
    border: 0px solid;
    height: 25px;
}

input:focus{
  background-color: #ccf3ff;
  border: 1px solid #33cfff;
  outline: none;
  padding-left: 10px;
}

label{
  line-height: 2;

}

#button{
	padding:		5px 30px;
	font-size:		14px;
	background-color:	#0099ff;
	font-weight:lighter;;
	color:			#FFFFFF;
  border: 1px solid;
    border-radius: 5px;
}

#logo{
  position: relative;
  top: 20px;
  left: 100px;
  width: 120px;
}
