body{
  background-color: #f2f2f2;
}

div.first-cont{
  background-image: url("../core/assets/banner-app.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}

div#text-areas{
  margin: 40px 480px;
  display: inline-block;
}

div#logo-top{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

div.button-signin{
  float: right;
  margin-top: 40px;
  margin-right: 35px;

}

img{
  height: 45px;
}

input{
  height: 30px;

}

div.button-signin input{
  padding:		9px 40px;
  font-size:		14px;
  background-color:	#0099ff;
  font-weight:lighter;
  color:			#FFFFFF;
  border: 1px solid;
  border-radius: 4px;
}

p span{
  font-size: 22px;
  width: 300px;
  color: #f2f2f2;
  display: inline-block;
  font-weight: bold;
}

div.button-join p{
  text-align: center;
  font-size: 32px;
  color: #f2f2f2;
  font-weight: bold;
}

div.button-join{
  text-align: center;
}
