body{
  background-color: #e6e6e6;
}

div.first-cont{
  background-image: url("../core/assets/banner-app.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}

div#text-areas{
  margin-left: 450px;
  margin-top: 38px;
  display: inline-block;
  background-image: url("../core/assets/search-icon.png");
  background-repeat: no-repeat;
  background-position: 6px 8px;
}


div#logo-top{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

div.button-signin{
  float: right;
  margin-top: 40px;
  margin-right: 35px;

}

img{
  height: 45px;
}

div#text-areas input[type="text"]{
  height: 30px;
  background-color:rgba(230, 230, 230, 0.25);
  border-width:0px;
  padding-left: 30px;

}

div.button-signin input{
  font-size:		14px;
  background-color:	#0099ff;
  font-weight:lighter;
  color:			#FFFFFF;
  border-radius: 4px;
  font-weight: bold;
  border: 0 solid;
  padding: 8px 21px 8px 21px;
}

p span{
  font-size: 22px;
  width: 300px;
  color: #f2f2f2;
  display: inline-block;
  font-weight: bold;
}

#span-id{
  text-align: center;
  padding-top: 55px;
  font-size: 11px;
}

div.button-join{
  text-align: center;
}
div.button-join p{
  text-align: center;
  font-size: 32px;
  color: #f2f2f2;
  font-weight: bold;
  padding-top: 30px;
}

div.button-join input{
  border: 0 solid;
  padding: 12px 42px 12px 42px;
  margin-top: 12px;
  font-weight: bold;
  color: white;
  background-color: #57db99;
  text-align: center;
  border-radius: 4px;
}

#footer{
  color: #8c8c8c;
  font-size: 10px;
  margin-left: 400px;
  margin-top: 270px;
}

div#music-container{
  overflow: hidden;
  margin: -150px auto;
  width: 1200px;

  /*margin-top: -150px;
  margin-left: 400px;*/

}

div#music-container img{
  height: 200px;
}


div#massive-pop{
  float: left;
  margin-right: 30px;
  margin-left: 100px;
  background-color: #ffffff;

}

div#up-all-night{
  float: left;
  margin-right: 30px;
  background-color: #ffffff;

}

div#dj-killer{
  float: left;
  margin-right: 30px;
  background-color: #ffffff;


}

div.albums-text span{
  width: 300px;
  font-size: 14px;
  color: #bfbfbf;
}

div.albums-text p{
  padding-left: 15px;
  color:	#000000;
  font-size: 19px;
}

div.albums-text{
  position: relative;
  /*top: 0px;*/
  transition: transform .5s ease-in-out;

  box-shadow: 0 12px 6px -6px #bfbfbf;

}

div.albums-text:hover{
  transform: translate3d(0px, -20px, 0px);

}

div.albums-text img:hover{
  opacity:0.4;
}

div.small-imgs-playlist {
  background-color: rgba(153, 179, 255, 2);
  height: 200px;
}

div.button-albums-style{
  position:absolute;
  margin-left: 85px;;
  margin-top: -100px;
  visibility:hidden;
}


.albums-text:hover > .button-albums-style{
  visibility:visible;
}


div.button-albums-style input{
  border: 0 solid;
  padding: 10px 28px 10px 28px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #0099ff;
  background-image: url("../core/assets/play-icon.png");
  background-repeat: no-repeat;
  background-position: 25px;
  text-align: center;
  border-radius: 4px;
}

div#playlist-container1{
  display:none;
  background-color: lightblue;
  height: 680px;
  width: 470px;
  position: fixed;
  margin-left: 50px;
  margin-top: -330px;
}
